<%- include('../partials/header') -%>

<div class="container form-input">

	<h1 class="form-input-title">Edit Blog</h1>
	<form method="POST" action="/blogs/<%= blog._id %>?_method=PUT">
		<label for="title">Title:</label>
		<input id="title" type="text" name="blog[title]" value="<%= blog.title %>">
		<label for="image-url">Image URL:</label>
		<input id="image-url" type="text" name="blog[image]" value="<%= blog.image %>">
		<label for="body">Body:</label>
		<textarea id="body" name="blog[body]"><%= blog.body %></textarea>
		<input class="button" type="submit">
		<p><a href="/blogs/<%= blog._id %>">Go Back</a></p>
	</form>

</div>

<%- include('../partials/flash') -%>

<%- include('../partials/footer') -%>
