<%- include('../partials/header') -%>

<% blogs.forEach((blog) => { %>
	<div data-aos="fade" class="container featured-blog">
		<div class="box">
			<img src="<%= blog.image %>">
		</div>
		<h1><%= blog.title %></h1>
		<p><%= blog.body.substring(0, 200) %>...</p>
		<p>
			Created by: 
				<a href="/users/<%= blog.author.username %>"><%= blog.author.username %></a>
			on <%= blog.created.toLocaleDateString("en-US", {
			weekday: "long", year: "numeric", month: "short", day: "numeric"}) %>
		</p>
		<a class="button" href="/blogs/<%=blog._id%>"><i class="fas fa-caret-right fa-sm"></i> Read More</a>
	</div>
<% }) %>

<!-- If there are no blogs, center the "New Blog" button and display help text. -->
<div class="box" <% if (blogs.length === 0) {%> id="center" <% }%>>
	<% if(blogs.length === 0) { %>
		<h1 id="no-blogs">Looks like you don't have any blogs. Get started:</h1>
	<% } %>
	<form action="/blogs/new" method="GET">
		<button class="button" id="new-blog-button">+ Add New Blog</button>
	</form>
</div>
<%- include('../partials/footer') -%>
