<%- include('../partials/header') -%>

<div class="container" id="blog">
	<div class="box">
		<img src="<%= blog.image %>">
	</div>

	<h1 data-aos="fade-in">
		<%= blog.title %>
	</h1>

	<p data-aos="fade-in" data-aos-delay="200">
		Posted by <a href="/users/<%=blog.author.username%>"><%= blog.author.username %></a>
	</p>

	<p data-aos="fade-in" data-aos-delay="300">
		Created on <%= blog.created.toLocaleDateString("en-US", {
		weekday: "long", year: "numeric", month: "short", day: "numeric"}) %>
	</p>

	<p data-aos="fade-in" data-aos-delay="400" id="blog-body"><%= blog.body %></p>

	<div class="admin-buttons">
	<% if(currentUser && currentUser.isAdmin){ %>
		<form action="/blogs/<%= blog._id %>/edit" method="GET">
			<button class="button"><i class="fas fa-edit"></i> Edit Blog</button>
		</form>
		<form action="/blogs/<%= blog._id %>/delete" method="GET">
			<button class="button"><i class="far fa-trash-alt"></i> Delete Blog</button>
		</form>
	<% } %>
	</div>

	<h2 data-aos="fade-up" id="comment-header"><strong>Comments:</strong></h2>

	<% blog.comments.forEach((comment) => { %>
		<div data-aos="fade-up" class="card">
			<p class="comment-author"><strong><i class="fas fa-comment"></i> <%= comment.author.username %>:</strong></p>
			<p><%= comment.text %></p>
			<div class="button-box">
			<% if(currentUser && currentUser.isAdmin) { %>
				<form action="/blogs/<%= blog._id %>/comments/<%= comment._id %>/edit" method="GET">
					<button class="button"><i class="fas fa-edit"></i> Edit</button>
				</form>
				<form action="/blogs/<%= blog._id %>/comments/<%= comment._id %>/delete" method="GET">
					<button class="button"><i class="far fa-trash-alt"></i> Delete</button>
				</form>
			<% } %>
			</div>
		</div>
	<% }); %>

	<div data-aos="fade-up" data-aos-offset="-120" data-aos-delay="100" class="center-button">
		<form action="/blogs/<%= blog._id %>/comments/new" method="GET">
			<button class="button">+ New Comment</button>
		</form>
	</div>
	
</div>

<%- include('../partials/footer') -%>
