<%- include('../partials/header') -%>

<div class="container form-input">
	<h1 class="form-input-title">New Comment: <%= blog.text %></h1>
	<form action="/blogs/<%= blog._id %>/comments" method="POST">
		<label class="comment-form" for="comment">Comment:</label>
		<textarea class="comment-form" id="comment" name="comment[text]" required>Insert Comment Here!</textarea>
		<input class="button comment-form" type="submit">
		<p class="comment-form"><a href="/blogs/<%= blog._id %>">Go Back</a></p>
	</form>

</div>

<%- include('../partials/flash') -%>

<%- include('../partials/footer') -%>
