<%- include('../partials/header') -%>

<div class="container">

	<h1>Users:</h1>
	<p>This page shows stats on users' comments and blog posts. Click a user to see more info.</p>

	<% users.forEach((user) => { %>
		<div class="user-card">
			<h1><i class="fas fa-user"></i> <a href="/users/<%= user.username %>"><%= user.username %></a></h1>
			<p>Blogs created: <%= user.blogs.length %></p>
			<p>Comments made: <%= user.comments.length %></p>
		</div>
	<% }) %>

</div>

<%- include('../partials/footer') -%>
